body {
    text-align: center;
    color: #adadad;
    
}

.navbar-brand {
    color: #adadad;
}

#mainPageButton {
    color: #adadad;

}

h1,h3,h5 {
    text-align: center;
    color: #adadad !important;
}

p {
    text-align: center;
    color: #adadad !important;
}