.clickable {
    opacity: 25%;
}

button{
    padding: 0;
    border: none;
}
.headerImg{
    max-width: 100%;
    height: 100%;
    
}


#headerImg {
    text-align: center;
}

img{
    padding: 0px;
    max-width: 100px;
    height: 100px;
}

.not-clickable {
    opacity: 100%;
}

#navi {
    background-color: rgb(201, 50, 26);
    font-weight: bold;
    border-bottom: 4px solid rgb(224, 117, 9);
}

.navbar-brand {
    color: white;
}

body {
    background: linear-gradient(red,rgb(224, 117, 9))
}
